# Bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Logs
*.log

# Environment variables
.env

# OS-specific files (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini

# Data files
*.csv
*.sql

# IDE or Editor-specific files
.vscode/
.idea/

# Compiled files
*.out
*.o
